body {
	background-color: #005A81;
}

h1 {
	margin-left: 80px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
	font-family: "Cambria";
	margin-left: 30px;
}

p {
	font-family: "Cambria";
}

a:hover {
    color: #2FB8F2;
}

a {
    color: #CBB18B;
    text-decoration: none;
}

#outer_div {
	margin-right: 80px;
	margin-left: 80px;
	background: white;
	border-radius: 8px;
}

#middle_div {
	padding: 30px;
}

#header_div {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	margin-left: 80px;
	color: white;
}

#inside_div {
	margin-left: 30px;
}

.subheader_div img {
	margin-left: 50px;
	position: relative;
	float: right;
}